body
{
    background-color: #d2dae2;
    background-image: url('kontakt.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f3640;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}
.active {
  background-color:black;
}

.kontakt
{
   font-size: 50px;
   padding-left: 100px;
   color:red;
}
.naglowek1
{
    font-size: 45px;
    padding-left: 150px ;
}
.naglowek
{
  font-size: 50px;
  padding-left: 19%;
}
.naglowek2
{
  padding-left: 200px;
  font-size: 45px;
  
}
.kontakt2
{
  padding-left: 150px;
  font-size: 45px;
}
#tekst2
 {
  float:left;
  width:50%;
  margin-bottom:50px;
  

}

#tekst1
{
  float:left;
  width:50%;
  margin-bottom:40px;
 
}
#footer
	{
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width:97%;
  }
