body
{
    background-color: #28294d;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f3640;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color:black;
  }
  h1
  {
      color: red;
      font-size: 40px;
      text-align: center;
      
  }
  h2
  {color: white;
      text-align: center;
      font-style:Courier;
      font-size: 30px;
  }
  h3 
  {
      color: white;
      text-align: center;
      font-style:Courier;
      font-size: 30px; 
  }
 p 
 {
      color:blanchedalmond ;
      font-style:Courier;
      font-size: 20px;
      text-align: center
 }
 div
 {
      display: inline-inside
 }