body
{
    background-color: white;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f3640;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}
.active {
  background-color:black;
}

.kontakt
{
   font-size: 50px;
   padding-left: 100px;
   color:rgb(28, 19, 49);
   
   
}
.naglowek1
{
    font-size: 45px;
    padding-left: 150px ;
}
.naglowek
{
  font-size: 60px;
  padding-left:350px;
}
.naglowek2
{
  padding-left: 200px;
  font-size: 45px;
  
}
.kontakt2
{
  padding-left: 40px;
  background-color:
}
.tekst1
{
  background-color: blue;
}
.tekst2
{
  background-color: blueviolet;
  padding-left: 40px;
}