html, body 
{
  margin:0;
  padding:0;
  
}

html 
{
  height: 100%;
}

body
{
  min-height: 100%;
  background-color: #b2bec3;
  width: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.menu 
{
  list-style-type: none;
  margin: 0;
  padding: 0,125rem;
  overflow: hidden;
  background-color: #2f3640;
}

.menu li 
{
  float: left;
}
.menu li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}

.menu li a:hover
{
  background-color: #111;
}
.active 
{
  background-color:black;
}
.container {
  min-height:100%;
  position:relative;
}
.middle {
  padding:10px;
  padding-bottom:1rem;
}
.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #2f3640;
  color: #2f3640;
  text-align: center;
  padding: 0.5rem;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  background-color: #111;
  color: white;
}
.customers img {
  height: 8rem;
  width: auto;
}
.footer {
  position: relative;
  clear:both;
  bottom:0;
  width:100%;
  height:1rem;
  background-color: black;
	color: white;
	text-align: center;
  padding: 1rem;
}