.menu 
{
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: #2f3640;
}

.menu li 
{
  float: left;
}
.menu li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 19px 40px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}
.active 
{
  background-color:black;
}
body 
{
    background-color: #d2dae2;
}
p
{
    font-size: 30px;
}
.opis{
  width: 35%;
  margin-top: 8rem;
  float: left;
  color: white;
  background-color: #2f3640;
}
.opis p{
  text-align: center;
  font-size: 1rem;
}
.opis .wstep{
  text-align: center;
  text-align: center;
  padding: 4px 16px;
  font-size: 2rem;
}
.zdjecia{
  width: 65%;
  float: left;
}
.zdjecia img{
  width: 25rem;
  height: auto;
  padding: 8rem;
}
.miasto{
  width: 100%;
  margin-top: 8rem;
  float: left;
  color: white;
}
.miasto p{
  text-align: center;
  padding: 2rem;
  float: left;
  background-color: #2f3640;
}
.miasto img{
  float: left; 
  width: 25rem;
  height: auto;
  padding-left: 8rem;
}
#footer
	{
		clear: both;
		background-color: black;
		color: white;
		text-align: center;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 97%;
  }