html, body 
{
  margin:0;
  padding:0;
  
}

html 
{
  height: 100%;
}

body
{
  min-height: 100%;
  position: fixed;;
  background-image: url(zdj/tloProblem.jpg);
  background-attachment: fixed;
  width: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.menu 
{
  list-style-type: none;
  margin: 0;
  padding: 0,125rem;
  overflow: hidden;
  background-color: #2f3640;
}

.menu li 
{
  float: left;
}
.menu li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}

.menu li a:hover
{
  background-color: #111;
}
.active 
{
  background-color:black;
}

.container {
  min-height:100%;
  position:relative;
}
.middle {
  padding:10px;
  padding-bottom:1rem;
}
.wstep {
    text-align: center;
    background-color: #2f3640;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    width: 75%;
    margin: 8rem 10%;
}
.fb{
  padding-left: 45%;
}
.fb a{
  display: block;
  width: 2rem;
  height: auto;
  background: #44629e;
  border-color: #44629e;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}
img {
    position: static;
    width: 100%;
    height: auto;
    z-index: -5;
    overflow: hidden;
}
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:1rem;
  background-color: black;
	color: white;
	text-align: center;
  padding: 1rem;
}
