ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f3640;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color:black;
  }
body {
    background-color: white;
}
.moto {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
<<<<<<< HEAD
    display: block;
    height: 21rem;
    width: auto;
=======
    display:inside;
    position:right;
>>>>>>> 0451a9994068eae6441ce5ac956f6484d416c7c3
    
}
.garaz
{
   position:left; z-index:left;
}
@keyframes changecolor 
  {
  from
  {
  background-color: #000000;
  }
  to 
  {
  background-color: #ff3b41;
  }