.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f3640;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}
.active {
  background-color:black;
}

body {
    background-color: white;
}
.moto {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    display: block;
    height: 21rem;
    width: auto;
}
.garaz
{
    float: left;

}
@keyframes changecolor 
  {
  from
  {
  background-color: #000000;
  }
  to 
  {
  background-color: #ff3b41;
  }
